:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

/* ******* */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 48rem;
  max-width: 48rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search {
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 70%;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: var(--color-primary-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.num-results {
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: scroll;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.box-header {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.box-header h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.box-header div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.box-header p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.box::-webkit-scrollbar, .list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* ******* */

.btn {
  position: sticky;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-toggle {
  top: 0.8rem;
  right: 0.8rem;
  float: right;
  height: 2.4rem;
  aspect-ratio: 1;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  z-index: 9999;
}

.btn-delete {
  right: 2.4rem;
  float: right;
  height: 1.8rem;
  aspect-ratio: 1;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  transition: all 0.3s;

  margin-left: auto;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  transition: all 0.3s;

  align-self: stretch;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.btn-back {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  background-color: #fff;
  color: var(--color-background-500);
  font-family: sans-serif;
  font-size: 1.6rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******* */

/* 1032 px */
@media (max-width: 64.5em) {
  html {
    font-size: 56.25%;
  }
}

/* 944px */
@media (max-width: 59em) {
  html{
    font-size: 50%;
  }
}

/* 704px */
@media (max-width: 44em) {
  body {
    padding: 0;
  }

  .nav-bar {
    height: 14rem;
    padding: 0 1.6rem;
    flex-wrap: wrap;
    align-content: space-evenly;
    border-radius: 0;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  .search {
    order: 3;
    width: 100%;
  }

  .main {
    margin-top: 15.6rem;
    margin-bottom: 1.6rem;
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.6rem;
    overflow-y: hidden;
  }

  .box {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .list {
    padding: 0;
  }

  .list li {
    padding: 1.6rem;
  }

  .box-header {
    padding: 2.4rem 1.6rem;
    border-radius: 0;
  }

  .list div, .box-header div {
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .btn {
    font-size: 2.4rem;
    height: 3.2rem;
  }

  .details-overview {
    padding: 1.6rem 2.2rem;
  }

  .details section {
    padding: 1.6rem;
  }

  .rating {
    gap: 1.6rem;
    padding: 1.2rem 1.6rem;
    margin-bottom: 0;
  }

  .btn-add {
    height: 100%;
  }

}

.box::-webkit-scrollbar, .list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

